plugis:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/changelog"
    - assets: CHANGELOG.md
  - "@semantic-release/npm"
  - "@semantic-release/github"
